


<hr>
<p id="roommaker">
<div id="footer">
    <div style="margin-bottom: 100px" class="row">

    </div>
    <div class="row">
        <div class="col col-md-3 text-middle">
            <p style="color: #fefefe">STH HERE</p>
        </div>
        <div class="col col-md-6 text-middle">
            <h1 style="color: #fefefe; font-size: 50px">4  Y E A R S  2  C O M E</h1>
        </div>
        <div class="col col-md-3 text-middle">
            <p style="color: #fefefe">STH HERE</p>
        </div>
    </div>
</div>


</body>
</html>