<% include partials/header %>

<div class="content-main">
    <div id="navbar" class="navbar-fixed">
        <div class="col-md-1">

        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">4Years2Come</a>
        </div>
        <div class="col-md-5">

        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/videos">Videos</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>UPCOMING: ASK A QUESTION SYSTEM</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



<% include partials/footer %>
























