<% include partials/header %>

<div class="content-main">
    <div id="navbar" class="navbar-fixed">
        <div class="col-md-1">

        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">4Years2Come</a>
        </div>
        <div class="col-md-5">

        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>
            <li class="active"><a href="/resume">Resume</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
    </div>

    <h1 style="margin-bottom: 120px; margin-top: 150px">IF YOU FEEL LIKE I CAN BE OF HELP TO YOU, FEEL FREE TO CONTACT ME</h1>

    <div class="container">
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-4">
                    <img class="resume-img" src="http://www.ecsteam.com/wp-content/uploads/Java.png" alt="">
                </div>
                <div class="col-md-8">
                    Kevin meatloaf shank brisket short ribs picanha. Corned beef drumstick fatback kevin tongue pig spare ribs ground round tri-tip ball tip pork belly. Shankle fatback ball tip, hamburger capicola picanha landjaeger pork chop pork belly chicken beef boudin pork. Salami prosciutto cow, sirloin kielbasa swine burgdoggen. T-bone meatloaf bacon doner, flank kielbasa short ribs ham hock strip steak leberkas.
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-8">
                    Tri-tip ham burgdoggen chuck t-bone meatloaf. Shank salami beef prosciutto drumstick, chuck tail cupim. Short ribs biltong turducken doner brisket. Shank ham hock pork belly turkey chuck hamburger.
                </div>
                <div class="col-md-4">
                    <img class="resume-img" src="https://cdn-images-1.medium.com/max/2000/1*l4xICbIIYlz1OTymWCoUTw.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-4">
                    <img class="resume-img" src="http://www.theodo.fr/uploads/blog//2015/11/mongodb.png" alt="">
                </div>
                <div class="col-md-8">
                    Tri-tip ham burgdoggen chuck t-bone meatloaf. Shank salami beef prosciutto drumstick, chuck tail cupim. Short ribs biltong turducken doner brisket. Shank ham hock pork belly turkey chuck hamburger.
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-8">
                    Tri-tip ham burgdoggen chuck t-bone meatloaf. Shank salami beef prosciutto drumstick, chuck tail cupim. Short ribs biltong turducken doner brisket. Shank ham hock pork belly turkey chuck hamburger.
                </div>
                <div class="col-md-4">
                    <img class="resume-img" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/BlogImages/06112016031910AM/sql.png" alt="">
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-4">
                    <img class="resume-img" src="https://cnet4.cbsistatic.com/img/QJcTT2ab-sYWwOGrxJc0MXSt3UI=/2011/10/27/a66dfbb7-fdc7-11e2-8c7c-d4ae52e62bcc/android-wallpaper5_2560x1600_1.jpg" alt="">
                </div>
                <div class="col-md-8">
                    Kevin meatloaf shank brisket short ribs picanha. Corned beef drumstick fatback kevin tongue pig spare ribs ground round tri-tip ball tip pork belly. Shankle fatback ball tip, hamburger capicola picanha landjaeger pork chop pork belly chicken beef boudin pork. Salami prosciutto cow, sirloin kielbasa swine burgdoggen. T-bone meatloaf bacon doner, flank kielbasa short ribs ham hock strip steak leberkas.
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-8">
                    Tri-tip ham burgdoggen chuck t-bone meatloaf. Shank salami beef prosciutto drumstick, chuck tail cupim. Short ribs biltong turducken doner brisket. Shank ham hock pork belly turkey chuck hamburger.
                </div>
                <div class="col-md-4">
                    <img class="resume-img" src="https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/python.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



<% include partials/footer %>
































