<% include partials/header %>

<nav class="content-main">
    <div id="navbar" class="navbar-fixed">
        <div class="col-md-1">

        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">4Years2Come</a>
        </div>
        <div class="col-md-5">

        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li class="active"><a href="/videos">Videos</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
    </div>

    <div class="row text-middle">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 id="yt-banner">YouTube Channel</h1>
            <div class="row text-middle">
                <div class="col-md-7">
                    <iframe id="main-video" width="768" height="432" src="https://www.youtube.com/embed/WHpsVljvQ0k" frameborder="0" allowfullscreen></iframe>
                    <p>Write something below it</p>
                </div>
                <div class="col-md-5">
                    <div id="side-video-container">
                        <iframe width="320" height="180" src="https://www.youtube.com/embed/sasVn2JthQ4" frameborder="0" allowfullscreen></iframe>
                        <iframe width="320" height="180" src="https://www.youtube.com/embed/Q7rYho8ExUY" frameborder="0" allowfullscreen></iframe>
                        <iframe width="320" height="180" src="https://www.youtube.com/embed/aaVlkbP1CoY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</nav>

<% include partials/footer %>

















